Breakpoints_v2.xcbkptlist
Packages/Infrastructure/PreviewServices/Sources/PreviewServices/Resources/Jsons
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate
xcuserdata/
Config.swift
